#home-background {
    background: linear-gradient(rgba(74, 189, 172, 0.8), rgba(74, 189, 172, 0.8)), url('https://images.pexels.com/photos/251225/pexels-photo-251225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-weight: 650;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

h3 {
    font-weight: 450;
    font-size: 36px;
    color: rgba(255, 255, 255)
}

h4 {
    font-weight: 550;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 2;
}

li {
    line-height: 2
}

.welcome-box {
    display: flex;
    justify-content: center;
}

.welcome-box-item {
    padding: 80px 20px;
}

.main-image {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    margin-top: 30px;
}

.welcome {
    margin-left: 0;
    margin-top: 10px;
}
