body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: rgb(60, 158, 143);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    color: rgb(60, 158, 143);
}

.wrapper ul li {
    padding-top: 5px;
}

#nav {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid;
    color: #4ABDAC;
    margin: 0;
    padding: 0;
}


#nav #nav-links li {
    list-style: none;
    text-align: center;
    border-radius: 10px;
    display: inline;
    padding: 10px;
    color: #4ABDAC
}

@media only screen and (max-width: 768px) {

    #nav {
        justify-content: center;
    }
    #nav #nav-links li {
        flex-wrap: wrap;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }

}


a {
    padding: 10px;
}

.active {
    background-color: #4ABDAC;
    border-radius: 5px;
    color:white;
    border-bottom: 6px solid rgb(39, 99, 90);
    transition: 0.4s;
}

a:active {
    color: #4ABDAC;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 18px;
}


